# 🌿 EcoRideNova - Configuration environnement local

# --- BASE DE DONNÉES SQL ---
DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecoride_db
DB_USER=root
DB_PASS=

# --- BASE DE DONNÉES NoSQL ---
MONGO_URI=mongodb://localhost:27017
MONGO_DB=ecoride_mongo

# --- APPLICATION ---
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

# --- EMAIL ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
